*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  background-color: bisque;
  height: 100vh; 
}
.lang-card:hover{
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.5);
}
.lang-logo{
  transition: transform 0.5ms;
}
.lang-card:hover .lang-logo{
  transform:scale(1.2);
}
